body{
  font-family: sans-serif;
}

#library-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.book-card{
  width: 100%;
  background-color: lightblue;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: 1px solid black;
}

#open-dialog{
  width: 20%;
  padding: 10px;
  background-color: gray;
  color: black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
}

.top-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#book-dialog{
  border-radius: 10px;
  text-align: center;
  border: none;
  width: 50%;
}

#book-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#book-form label {
  /* font-weight: 500; */
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

#book-form input[type="text"],
#book-form input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#book-form input[type="checkbox"] {
  margin-right: 0.5rem;
}
